.operations {
    margin: 50px 20px;
    &__title {
        margin-bottom: 15px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
}
.operation {
    margin: 10px 0 10px 10px;
    width: 100%;
    height: 75px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background-color: #F7F7F7;
    box-shadow: 0px 5px 5px #E5E5E5;
    display: flex;
    align-items: center;
    span {
        margin-left: -10px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        color: #fff;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i {
        margin: 25px;
        font-size: 22px;
        color: #7E7E7E;
    }
}
.operation:hover {
    background-color: #F5EDFF;
    i {
        color: $color-primary;
    }
}
@media screen and (min-width: 768px) {
    .operations {
        margin: 20px;
        &__content {
            justify-content: space-around;
        }
    }
    .operation {
        width: 45%;
    }
}
@media screen and (min-width: 1024px) {
    .operations {
        &__content {
            justify-content: space-between;
        }
    }
    .operation {
        width: 30%;
    }
}