.restaurants {
    padding: 50px 20px;
    background-color: #F7F7F7;
    &__title {
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
}
.restaurant {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    box-shadow: 0px 5px 5px #E5E5E5;
    position: relative;
    img {
        width: 100%;
        height: 175px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    &__info {
        height: 75px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-family: 'Shrikhand', 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 34px;
        }
        &__text {
            h3 {
                margin-bottom: 5px;
            }
        }
    }
}
.newmark {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    color: #008766;
    background: $color-tertiary;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.heart {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    &__empty {
        position: absolute;
        font-size: 25px;
        opacity: 70%;
    }
    &__full {
        position: absolute;
        font-size: 25px;
        background: linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0%;
    }
    &__empty:hover {
        opacity: 0%;
        transition-duration: 500ms;
    }
    &__full:hover {
        opacity: 100%;
        transition-duration: 500ms;
    }
}
@media screen and (min-width: 768px) {
    .restaurants {
        &__content {
            justify-content: space-around;
        }
    }
    .restaurant {
        width: 45%;
    }
}
@media screen and (min-width: 1024px) {
    .restaurant {
        width: 30%;
    }
}