.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: #fff;
    opacity: 90%;
    display: flex;
    justify-content: center;
    animation: fonctloader 2500ms ease-in-out;
    animation-fill-mode: forwards;
    &__text {
        margin: 250px 5px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: linear-gradient($color-primary, $color-tertiary, $color-secondary);
        font-family: 'Shrikhand', 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fonctloadertext 1500ms;
        animation-fill-mode: forwards;
    }
}
.loader__text--1 {
    animation-delay: 0ms;
}
.loader__text--2 {
    animation-delay: 150ms;
}
.loader__text--3 {
    animation-delay: 300ms;
}